### Output
/.svelte-kit/
/build/
/node_modules/
/vendor/

### Env
.env
.env.*
!.env.example
!.env.test

### WordPress
# ignore everything except /wp-content/plugins/ and /wp-content/themes/
# todo: ignore plugins/themes EXCEPT those which are actually in use
public/wordpress
!public/wordpress/wp-content/plugins/
!public/wordpress/wp-content/themes/