
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*
Solid colors are done using hex format: https://imagecolorpicker.com/color-code/2596be. 
For colors that have transparency, rgba is used: https://rgbacolorpicker.com/
You may also consider using OKLCH colors for styling: https://oklch.com/
*/

:root {
  --radius: 0.625rem;
  --background: #FFFFFF;
  --foreground: #09090B; /*Text and Symbols*/
  --card: #FFFFFF;
  --card-foreground: #09090B;
  --popover: #FFFFFF;
  --popover-foreground: #09090B;
  --primary: #18181B;
  --primary-foreground: #FAFAFA;
  --secondary: #F4F4F5;
  --secondary-foreground: #18181B;
  --muted: #F4F4F5;
  --muted-foreground: #71717B;
  --accent: #F4F4F5;
  --accent-foreground: #18181B;
  --destructive: #E7000b;
  --border: #E4E4E7;
  --input: #E4E4E7;
  --ring: #9F9FA9;
  --chart-1: #F54A00;
  --chart-2: #009689;
  --chart-3: #104E64;
  --chart-4: #FFBA00;
  --chart-5: #FD9A00;
  --sidebar: #FAFAFA;
  --sidebar-foreground: #09090B;
  --sidebar-primary: #18181B;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #F4F4F5;
  --sidebar-accent-foreground: #18181B;
  --sidebar-border: #E4E4E7;
  --sidebar-ring: #9F9FA9;
}

.dark {
  --background: #09090B;
  --foreground: #FAFAFA;
  --card: #18181B;
  --card-foreground: #FAFAFA;
  --popover: #18181B;
  --popover-foreground: #FAFAFA;
  --primary: #E4E4E7;
  --primary-foreground: #18181B;
  --secondary: #27272A;
  --secondary-foreground: #FAFAFA;
  --muted: #27272A;
  --muted-foreground: #9F9FA9;
  --accent: #27272A;
  --accent-foreground: #FAFAFA;
  --destructive: #FF6467;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #71717B;
  --chart-1: #1447E6;
  --chart-2: #00BC7D;
  --chart-3: #FD9A00;
  --chart-4: #AD46FF;
  --chart-5: #FF2056;
  --sidebar: #18181B;
  --sidebar-foreground: #FAFAFA;
  --sidebar-primary: #1447E6;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #27272A;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #71717B;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-bgred: #8C143A;
  --color-bggreen: #00573E;
  --font-display: "Poppins", sans-serif;
  --font-header: "Merriweather", sans-serif;
  --color-textcolor: #E5E1E1;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.playfair-display-regular {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-medium {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-semibold {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-extrabold {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.playfair-display-black {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.playfair-display-regular-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.playfair-display-medium-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.playfair-display-semibold-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.playfair-display-bold-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.playfair-display-extrabold-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.playfair-display-black-italic {
  font-family: "Playfair Display", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.merriweather-light {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-medium {
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.merriweather-semibold {
  font-family: "Merriweather", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-extrabold {
  font-family: "Merriweather", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.width-restriction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styled-buttons {
  background-color: #00573E;
  color:#F2F2F2;
  border: 2px solid #00573E;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.styled-buttons[aria-current="true"] {
  background-color: #023a2a;
  color:#F2F2F2;
  border: 2px solid #EDAE1A;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: 0.3s;
}

.header {
  color:#F2F2F2;
  font-size: 48px;
}